@charset "UTF-8";
body {
  height: 100vh;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  -webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0);
          box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0);
}

@media (min-width: 480px) {
  .log_body {
    font-size: 14px;
    max-width: 860px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .log_body input, .log_body button, .log_body a {
    font-size: 14px;
  }
  .log_body .side_img {
    width: 100%;
    height: 30%;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }
  .log_body .side_content {
    height: 70%;
  }
  .log_body .side_group {
    padding: 0px 15%;
  }
  .log_body img {
    width: 40%;
  }
  .log_body .log_btn {
    width: 100%;
    height: 10%;
  }
}

@media (min-width: 710px) {
  .log_body {
    max-width: 860px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .log_body .side_img {
    width: 100%;
    height: 30%;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }
  .log_body .side_content {
    height: 70%;
  }
  .log_body .side_group {
    padding: 0px 15%;
  }
  .log_body img {
    width: 40%;
  }
  .log_body .log_btn {
    width: 100%;
  }
}

@media (min-width: 960px) {
  .log_body {
    font-size: 18px;
    max-width: 860px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .log_body input, .log_body button, .log_body a {
    font-size: 18px;
  }
  .log_body .side_img {
    width: 100%;
    height: 30%;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }
  .log_body .side_content {
    height: 70%;
  }
  .log_body .side_group {
    padding: 0px 15%;
  }
  .log_body img {
    width: 40%;
  }
  .log_body .log_btn {
    width: 100%;
  }
}

@media (min-width: 1140px) {
  .log_body {
    max-width: 860px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .log_body .side_img {
    width: 100%;
    height: 30%;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }
  .log_body .side_content {
    height: 70%;
  }
  .log_body .side_group {
    padding: 0px 15%;
  }
  .log_body img {
    width: 40%;
  }
  .log_body .log_btn {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .log_body {
    max-width: 860px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .log_body .side_img {
    padding: 0px;
    width: 50%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
  }
  .log_body .side_content {
    width: 50%;
    height: 100%;
  }
  .log_body .side_group {
    height: 100%;
    padding: 0px 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .log_body img {
    width: 60%;
  }
  .log_body .log_btn {
    height: 8%;
  }
}

@media (min-width: 1366px) {
  .log_body {
    max-width: 886.6px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1920px) {
  .log_body {
    max-width: 890px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.log_bg {
  background-color: #545871;
  height: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.log_bg .log_body {
  background-color: #F7ECEB;
  border-radius: 10px;
  height: 70%;
  width: 35%;
}

.log_feedback {
  height: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.log_feedback .form-control {
  text-indent: 25px;
}

.log_icon_email, .log_icon_pwd {
  position: relative;
}

.log_icon_email:before, .log_icon_pwd:before {
  font-family: "Font Awesome 5 Free";
  font-size: 20px;
  position: absolute;
  left: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #545871;
}

.log_icon_email:before {
  font-weight: 400;
  content: "\f0e0";
}

.log_icon_pwd:before {
  font-weight: 900;
  content: "\f023";
}

.placeholder_color ::-webkit-input-placeholder {
  color: #EBD0CE;
}

.placeholder_color ::-moz-placeholder {
  color: #EBD0CE;
}

.placeholder_color :-ms-input-placeholder {
  color: #EBD0CE;
}

.form-control {
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 1.5px solid #545871;
  border-radius: 0px;
  background-color: #F7ECEB;
  font-size: 23px;
}

.form-control:focus {
  background-color: #F7ECEB;
}

.logoin_option {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px;
}

.log_btn {
  display: block;
  width: 76%;
  height: 50px;
  font-size: 20px;
  -webkit-box-shadow: 0px 10px 13px 1px #B8A7A7;
          box-shadow: 0px 10px 13px 1px #B8A7A7;
  border: 0px;
  outline: none;
  caret-color: transparent;
  background-color: #545871;
  color: #F7ECEB;
}

.log_btn:hover {
  background-color: #686D8D;
  text-decoration: none;
  color: #F7ECEB;
}

.log_btn:active {
  background-color: #545871;
}

.option_remember, .option_pwd {
  color: #545871;
}

.option_pwd {
  padding: 0px;
}

.option_pwd:hover {
  color: #545871;
}

.base_btn {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.base_btn span {
  color: #F7ECEB;
}

.base_btn a {
  color: #B8817D;
  padding: 0px;
  border: 0px;
}

.base_btn a:hover {
  color: #B8817D;
}

.terms {
  color: #B8817D;
  padding: 0px;
  border: 0px;
}

.terms:hover {
  color: #B8817D;
}

.log_icon_number {
  position: relative;
  width: 99%;
}

.log_icon_number:before {
  font-weight: 400;
  content: "\f11c";
  font-family: "Font Awesome 5 Free";
  font-size: 20px;
  position: absolute;
  left: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #545871;
}

.feedback {
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feedback .feedback_number {
  position: absolute;
  top: 32%;
  right: -1%;
  font-size: 12px;
  background-color: #545871;
  padding: 3px;
  color: #F0F1F7;
}

.feedback .form-control {
  text-indent: 25px;
}

.btn {
  vertical-align: 0px;
}

body {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #F7ECEB;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
}

.content .menu {
  position: fixed;
  background-color: #545871;
  height: 100%;
  width: 5%;
  max-width: 72px;
  min-width: 63px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2% 0px;
  font-size: 2rem;
}

.content .menu .logo {
  background-image: url(/photo/未命名-1.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 80%;
  height: 5%;
}

.content .menu a {
  color: #F7ECEB;
  list-style: none;
}

.content .set_up_box {
  height: 100%;
  width: 90%;
  padding: 8% 20% 0 20%;
}

.content h3 {
  color: #9597A6;
}

.menu_icons {
  list-style: none;
  margin: 0px;
  padding: 0px;
  width: 70%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_icons li {
  width: 100%;
  height: 13%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_icons li a:hover {
  color: #545871;
  background-color: #F7ECEB;
  width: 90%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  border-radius: 10px;
}

.edit_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.imgs .image_item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 115px;
      flex: 0 0 115px;
  width: 115px;
  max-width: 115px;
  min-height: 115px;
  margin: 0 6.66px 20px;
  position: relative;
}

.imgs img {
  width: 100px;
  height: 100px;
}

#uploadImage {
  display: none;
}

.fa-plus-circle {
  position: absolute;
  font-size: 1.5rem;
  right: 43%;
}

.zxc {
  width: 100%;
}

.form_btn {
  margin-top: 2%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn-outline-info {
  color: #545871;
  border-color: #545871;
}

.btn-outline-info:hover {
  background-color: #545871;
  border-color: #545871;
  color: white;
}

.btn-outline-info:active {
  background-color: #545871;
  border-color: #545871;
  color: white;
}

.btn-outline-info:focus {
  background-color: #545871;
  border-color: #545871;
  color: white;
}

.btn-outline-info:visited {
  background-color: #545871;
  border-color: #545871;
  color: white;
}

.content .modify_pwd_content {
  padding: 8% 30% 0 35%;
}

.modify_pwd_feedback_number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.modify_pwd_feedback_number .enter_feedback_number {
  width: 98%;
}

.pwd_feedback_number {
  background-color: #545871;
  width: 30%;
  position: absolute;
  right: 0px;
  color: #F7ECEB;
}

.pwd_feedback_number:hover {
  background-color: #7a81a8;
  color: #F7ECEB;
}

.add_roles_box {
  width: 75%;
  padding: 1.5% 0 2% 4%;
}

.add_roles_box ul::-webkit-scrollbar {
  width: 0 !important;
}

.add_roles_box ul {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style: none;
  padding: 0px;
}

.add_roles_box ul li {
  width: 180px;
  height: 300px;
  margin: 10px;
  background-color: #545871;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 8px #0000004d;
          box-shadow: 0px 10px 8px #0000004d;
}

.add_roles_icon_box {
  width: 180px;
  height: 300px;
  margin: 10px;
  background-color: #7a81a859;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 8px #0000004d;
  box-shadow: 0px 10px 8px #0000004d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add_roles_icon_box i {
  color: #545871;
  font-size: 2.5rem;
}

.add_roles_icon_box:hover {
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  background-color: #545871;
}

.add_roles_icon_box:hover i {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #7a81a8;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.add_roles_icon_box:active {
  -webkit-box-shadow: 0px 0px 0px #0000004d;
          box-shadow: 0px 0px 0px #0000004d;
}

.add_time_box {
  width: 25%;
  padding: 1.5% 2% 2% 1%;
}

.add_time_box .add_time_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #545871;
  width: 100%;
  height: 100%;
  padding: 0 5%;
  border-radius: 10px;
}

.add_time_box ul::-webkit-scrollbar {
  width: 0 !important;
}

.add_time_box ul {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  width: 100%;
  height: 80%;
  overflow-y: auto;
  list-style: none;
  padding: 0;
}

.add_time_box ul li {
  width: 90%;
  height: 50px;
  margin: 10px 0 18px 20px;
  background-color: white;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.rigth_top_svg {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0px;
  right: 0px;
  background-image: url(/photo/times-circle-solid.svg);
}

.add_time_icon_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.add_time_icon {
  font-size: 2rem;
  color: #DADBE6;
  margin: auto;
}

.add_time_icon:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #7a81a8;
}

.add_time_btn {
  width: 90%;
  margin-bottom: 20px;
  background-color: #F0F1F7;
  border-color: #F0F1F7;
  border-radius: 15px;
  color: #545871;
  -webkit-box-shadow: 0px 10px 8px #0000004d;
          box-shadow: 0px 10px 8px #0000004d;
}

.add_time_btn:hover {
  background-color: #7a81a8;
  border-color: #7a81a8;
  color: #F0F1F7;
}

.role {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.roles_edit_btn {
  width: 180px;
  padding: 10px 10px;
  font-size: 2rem;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #DADBE6;
}

.role_avatar {
  width: 160px;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15%;
  background-color: #DADBE6;
  border-radius: 100px;
}

.role_avatar p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 7em;
}

.role_authority_box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 10px;
}

.role_authority_box select {
  margin-top: 5px;
  border-radius: 10px;
  background-color: #DADBE6;
  color: #A2A2A2;
}

.role_edit_field {
  margin-top: 10px;
}

.email_field,
.name_field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0 10px;
}

.email_field h6,
.name_field h6 {
  width: 30%;
  color: #DADBE6;
}

.email_field input,
.name_field input {
  width: 66%;
  height: 30px;
  background-color: #545871;
  border: none;
}

.fa-user-edit:hover,
.fa-times:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #9597A6;
}

.main {
  width: 100%;
  height: 100%;
  background-color: #F7ECEB;
}

.name_week {
  background-color: red;
  width: 100%;
  height: 10%;
  margin: 0;
}

.operating_hours {
  background-color: green;
  width: 100%;
  height: 50%;
  margin: 0;
}

.back_store_btn {
  background-color: greenyellow;
  width: 100%;
  height: 10%;
  margin: 0;
}

.back_store_btn button {
  width: 10%;
  height: 30px;
}
/*# sourceMappingURL=all.css.map */